@import "tailwindcss";

.content_img {
  position: absolute;
  transition: all 1s ease-in-out;
  opacity: 0;
}

.content_video {
  position: absolute;
  transition: all 1s ease-in-out;
  opacity: 0;
}

.contents {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}
