name: autofix.ci

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

on:
  push:
  pull_request:
  workflow_dispatch:

jobs:
  quality:
    runs-on: ubuntu-24.04

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install bun
        uses: oven-sh/setup-bun@v2
        with:
          bun-version: canary

      - name: Delete bun.lockb
        run: rm bun.lockb

      - name: Update dependencies
        run: bun update

      - name: Run Biome
        run: bunx biome ci --reporter=github

      - name: Commit
        uses: autofix-ci/action@v1.3.1
